<ion-content style="--ion-background-image: url('https://wallpaperplay.com/walls/full/2/4/f/288916.jpg')" [forceOverscroll]="false">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="ion-text-center">
          <h1 style="margin-top: 2em; color: whitesmoke; font-size: 4em; font-family: 'San Francisco Regular';">Area Project</h1>
        </div>
        <div class="ion-padding" style="margin-top: 9em;">
          <ion-item style="opacity: 20%;">
            <ion-label color="primary">{{promptLabel}}</ion-label>
            <ion-label position="floating" style="color: black;">Email</ion-label>
            <ion-input type="email"[(ngModel)]="userInfo.email"></ion-input>
          </ion-item>

          <ion-item style="opacity: 20%;">
            <ion-label position="floating" style="color: black;">Password</ion-label>
            <ion-input type="password" [(ngModel)]="userInfo.password"></ion-input>
          </ion-item>
        </div>

        <div class="ion-padding">
          <ion-button size="large" expand="block" style="--background: rgba(146,255,206,0.2); --border-color: #f0f9ff" (click)="login(userInfo)">
            <p *ngIf="!showLoader">
              {{promptLabel}}
            </p>
            <div *ngIf="showLoader">
              <ion-spinner name="dots" style="size: 100px;"></ion-spinner>
            </div>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8">
        <ion-label style="color: rgba(255,255,255,0.51);" (click)="register()" size="small">
          {{promptLabelButtonTitle}}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
